@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background:
    url(/images/logo.png) no-repeat center center,
    linear-gradient(90deg, #0c0d2bad, #3E1F92, #2e176ec2);
  background-attachment: fixed;
  background-size: 300px, cover;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 30px;
  background: linear-gradient(90deg, #004D98, #A50044, #3E1F92);
  backdrop-filter: blur(5px);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow:0 4px 15px rgba(0, 8, 16, 0.6);
}

.navbar img {
  max-width: 50px;
}

.navbar .user {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.navbar ul {
  display: flex;
  gap: 40px;
  align-items: center;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #EDBB00;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: #3E1F92;
}

.info-container {
  background-color: rgba(255, 255, 255, 0.764);
  padding: 32px;
}

.club-logo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid blue;
}

.title-section {
  text-align: center;
  padding: 80px 20px 30px;
  margin-top: 70px;
}

.title-section h1 {
  font-size: 40px;
  color: #0b0340;
  text-transform: uppercase;
}

.title-section p {
  font-size: 28px;
  color: rgba(0, 0, 0, 0.825);
  font-weight: bold;
}

.position-title {
  font-size: 36px;
  margin: 40px 20px 15px;
  color: #0b0340;
  border-left: 6px solid #ffcc00;
  padding-left: 10px;
  text-transform: uppercase;
}

.players-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  padding: 20px;
}

.player-card {
  background: linear-gradient(180deg, #014386, #A50044, #100237eb);
  border-radius: 12px;
  text-align: center;
  padding: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.player-card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}

.player-card img {
  width: 100%;
  max-width: 300px;
  height: 450px;
  object-fit: cover;
  margin-bottom: 10px;
}

.one img {
  max-width: 450px;
  height: 500px;
  border-radius: 16px;
  background-color: #ffcc00;
}

.player-card h2 {
  font-size: 32px;
  color: #ffcc00;
}

