@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background:
    url(/images/barca.png) no-repeat center center,
    linear-gradient(90deg, #0c0d2bad, #3E1F92, #2e176ec2);
  background-attachment: fixed;
  background-size: 300px, cover;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 30px;
  background: linear-gradient(90deg, #004D98, #A50044, #3E1F92);
  backdrop-filter: blur(5px);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0 4px 15px rgba(0, 8, 16, 0.6);
}

.navbar img {
  max-width: 50px;
}

.navbar .user {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.navbar ul {
  display: flex;
  gap: 40px;
  align-items: center;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  position: relative;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #EDBB00;
  transition: color 0.3s ease, transform 0.3s ease;
  padding: 5px 0;
}

.navbar ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 3px;
  background: #EDBB00;
  transition: width 0.3s ease;
  border-radius: 2px;
}

.navbar ul li a:hover {
  color: #fff;
  transform: scale(1.1);
}

.navbar ul li a:hover::after {
  width: 100%;
}

.hero {
  height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/images/campNou.png') center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  flex-direction: column;
  padding: 20px;
}

.hero h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero .btn {
  background: #EDBB00;
  color: #fff;
  padding: 12px 30px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s;
  box-shadow: 0 0 10px #EDBB00;
}

.hero .btn:hover {
  background: #A50044;
  box-shadow: 0 0 10px#A50044;
  color: white;
}

.upcoming-match {
  padding: 20px 40px;
  text-align: center;
  background: #f1f1f1eb;
  max-width: 100%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.upcoming-match h2 {
  color: #004D98;
  font-size: 32px;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.match-card {
  background: linear-gradient(90deg, #004D98, #A50044, #3E1F92);
  color: #EDBB00;
  padding: 40px 30px;
  border-radius: 15px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  animation: appear 5s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.match-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.match-card p {
  margin: 8px 0;
  font-size: 20px;
}

.match-card .vs {
  font-size: 32px;
}

.match-card span {
  font-size: 32px;
}

.match-teams {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.team-logo {
  margin-left: 16px;
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.barce {
  margin-right: 16px;
  padding-top: 24px;
  width: 170px;
  height: 150px;
}

.countdown {
  font-size: 40px;
  color: #fff;
  margin-top: 10px;
  font-weight: bold;
}

.match-card .btn {
  display: inline-block;
  margin-top: 15px;
  padding: 16px 32px;
  background: #EDBB00;
  box-shadow: 0 0 10px #EDBB00;
  color: #fff;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
  font-size: 16px;
}

.match-card .btn:hover {
  background: #A50044;
  box-shadow: 0 0 10px#A50044;
  color: #fff;
}

.latest-results {
  padding: 40px 300px;
  text-align: center;
  background: #f8f8f8;
  max-width: 100%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.latest-results h2 {
  color: #A50044;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.latest-results ul {
  list-style: none;
}

.win {
  margin-top: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  animation: appear 5s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.win:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.latest-results li {
  font-size: 24px;
  padding: 15px;
  border-radius: 8px;
  background: #0b0340;
  color: #fff;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.match-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.team-logo-small {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.team-name {
  margin: 0 5px;
}

.score {
  font-weight: bold;
  margin: 0 8px;
}

.match-date {
  font-size: 18px;
  color: #fff;
}

.news-updates {
  padding: 60px 20px;
  text-align: center;
  background: #f8f8f8;
}

.news-updates h2 {
  color: #A50044;
  font-size: 32px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.news-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.news-card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
  animation: appear 5s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.news-card:hover {
  transform: translateY(-5px);
}

.news-card .news-img {
  width: 100%;
  height: 300px;
  object-fit: cover, left;
  border-radius: 12px;
  margin-bottom: 15px;
}

.news-card h3 {
  color: #A50044;
  margin-bottom: 5px;
  font-size: 19px;
}

.news-card .news-date {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.news-card p {
  color: #333;
  margin-bottom: 15px;
  font-size: 16px;
}

.news-card .btn {
  background: #EDBB00;
  box-shadow: 0 0 10px #EDBB00;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.news-card .btn:hover {
  background: #A50044;
  box-shadow: 0 0 10px #A50044;
  color: #fff;
}

.gallery {
  background: #f8f8f8;
  padding: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.gallery h2 {
  color: #A50044;
  font-size: 32px;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
}

.gallery-grid img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border: 20px solid white;
  border-radius: 12px;
  transition: transform 0.3s;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  animation: appear 5s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;

}

.gallery-grid img:hover {
  transform: scale(1.05);
}

.btn {
  display: inline-block;
  padding: 12px 30px;
  background: #EDBB00;
  box-shadow: 0 0 10px #EDBB00;
  color: #fff;
  border-radius: 25px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #A50044;
  box-shadow: 0 0 10px #A50044;
  color: #fff;
}

.club-profile {
  max-width: 100%;
  padding: 50px;
  background: #f8f8f8;
  margin-bottom: 10px;
}

.club-header {
  text-align: center;
}

.club-logo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-top: 20px;
}

.club-profile h1 {
  margin: 15px 0 5px;
  font-size: 32px;
  color: #333;
}

.club-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 30px;
}

.info-card {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s, box-shadow 0.3s;
  animation: appear 5s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.info-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.info-card img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.info-card h2 {
  margin: 10px 0;
  color: #A50044;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
}

.info-card p {
  color: #666;
  font-size: 18px;
}

.info-container {
  background: #f8f8f8;
  padding: 32px;
}

.club-logo {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.title-section {
  text-align: center;
  padding: 10px 20px 30px;
}

.title-section h1 {
  font-size: 40px;
  color: #0b0340;
  text-transform: uppercase;
}

.title-section p {
  font-size: 28px;
  color: rgba(0, 0, 0, 0.825);
  font-weight: bold;
}

.position-title {
  font-size: 32px;
  margin: 40px 20px 15px;
  color: #0b0340;
  border-left: 6px solid #ffcc00;
  padding-left: 10px;
  text-transform: uppercase;
}

.players-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  padding: 20px;
}

.player-card {
  background: linear-gradient(180deg, #014386, #A50044, #100237eb);
  border-radius: 12px;
  text-align: center;
  padding: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  animation: appear 5s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.player-card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}

.player-card img {
  width: 100%;
  max-width: 300px;
  height: 450px;
  object-fit: cover;
  margin-bottom: 10px;
}

.one img {
  max-width: 450px;
  height: 500px;
  border-radius: 16px;
  background-color: #ffcc00;
}

.player-card h2 {
  font-size: 28px;
  color: #ffcc00;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.4;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}